# Firebase credentials
firebase.json
molo-460305-3b6cb7555ef7.json

# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.installed.cfg
*.egg-info/
*.egg

# Docker
docker-compose.override.yml

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~
